.step-wrapper {
    list-style-type: none;
}

.step-item {
    display: flex;
    align-items: center;
}

.step-item-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    font-size: 40px;
    font-family: 'Girassol';
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    border-radius: var(--border-radius-circle);
    background-color: var(--step-color);
    color: var(--clr-ntrl-min);
}

.step-item-line {
    position: relative;
    width: 100px;
    height: 2px;
    margin: 0 34px;
    background-color: var(--step-color);
}

.step-item-line::before, .step-item-line::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-11px, -50%);
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-circle);
    border: 1px solid var(--step-color);
}

.step-item-line::after {
    left: 100%;
    transform: translate(0, -50%)
}

.step-item__active .step-item-counter {
    width: 70px;
    height: 70px;
    font-size: var(--type-larger);
}

.step-item__active .step-item-line::before, .step-item__active .step-item-line::after {
    background-color: var(--secondary-brand-color)
}

.step-item__active .step-item-counter {
    background-color: var(--secondary-brand-color);
}
