/*!********* Header Are Start ***************!*/
.header-wrapper {
    grid-area: header;
    height: 181px;
    padding: 0 140px;
}

.header-logo-link {
    display: inline-block;
}

.header-logo {
    width: 240px;
}

/*!********* Header Are End ***************!*/


